<h2>Log In</h2>

<%= form_tag sessions_path do %>
	<%= label_tag :username %>
	<%= text_field_tag :username %>
	<br/>

	<%= label_tag :password %>
	<%= password_field_tag "password" %>
	<br/>

	<%= submit_tag "Log In" %>
<% end %>
<br/>
<br/>
<strong>Don't have a login?</strong><br/> 
<a class="btn btn-default btn-sm" href=<%= new_user_path %> role="button">Create an account</a>
