<ul>
	<% list_park_scores.each do |park, info| %>
	<li>
		<strong><%= "#{park.name}" %></strong><%= ": " + "#{info[:score]}" %>
		<ul>
			<li><%= "This park is in #{park.state.name}." %></li>
			<li><%= "You'll like it especially for its #{info[:top_activity].name}." %></li>
			<%= image_tag info[:top_activity].activity_image.url %>
			<li>For more info, click <a href="http://www.nps.gov/<%= park.web_extension %>" target=_blank>here</a></li>
		</ul>
	</li>
	<br/><br/><br/>
	<% end %>
</ul>