<% list_top_parks.each do |park, info| %>
	<h3><%= link_to "#{park.name}", park, target: '_blank' %></h3>
	<ul>
		<li><%= "This park is in #{park.state.name}." %></li>
		<li><%= "You'll like it especially for its #{info[:top_activity].name}." %></li>
		<%= image_tag info[:top_activity].activity_image.url %>
		<li>Visit the park's website <a href="http://www.nps.gov/<%= park.web_extension %>" target=_blank>here</a></li>
		<li>
			<% if current_user() %>
				<%= link_to 'Favorite', favorite_park_path(park), target: '_blank' %> this park!
			<% else %>
				<%= link_to "Login", login_path %> to Favorite this park
			<% end %>
		</li>
	</ul>
<br/><br/><br/>
<% end %>
