<% if @park.id %>
	<h1>Update Park</h1>
<% else %>
	<h1>New Park</h1>
<% end %>

<ol>
<% @park.errors.full_messages.each do |error| %>
	<li><%= error %></li>
<% end %>
</ol>

<%= form_for(@park) do |f| %>

	<%= f.label :name %>
	<%= f.text_field :name %>

	<%= f.label :web_extension %>
	<%= f.text_field :web_extension %>

	<%= f.label :state_id %>
	<%= f.collection_select :state_id, State.all, :id, :name %>

	<%= f.submit :submit %>

<% end %>