<h1><%= @park.name %></h1>
<% if current_user() %>
	<%= link_to 'Edit', edit_park_path(@park) %> |
	<%= link_to 'All Parks', parks_path %>
<% end %>

<br/><br/>
<strong>State</strong>: <%= @park.state.name %>
<br/>
<strong>Region</strong>: <%= @park.state.region.name %>
<br/>
<a href="http://www.nps.gov/<%= @park.web_extension %>" target=_blank>Website</a>
<br/><br/>


<%= render partial: 'google_map', locals: {search_string: "#{@park.name} national park, #{@park.state.name}", width: 600, height: 450} %>

<br/><br/><br/><br/>

<%= render partial: 'list_park_ratings', locals: {park_ratings: @park_ratings_sorted, edit: false} %>