<%= form_for(user_edit_form) do |f| %>
	<div>
	<%= f.label :username %>
	<%= f.text_field :username %>
	</div>
	<div>
	<%= f.label :email %>
	<%= f.text_field :email %>
	</div>
	<div>
	<%= f.label :password %>
	<%= f.text_field :password %>
	</div>
	<div>
	<%= f.label :password_confirmation %>
	<%= f.text_field :password_confirmation %>
	</div>
	<br/>
	<div>
	<% if can? :assign_roles, current_user() %>
		<%= f.collection_select :role, User::ROLES, :to_s, :humanize %>
	<% end %>
	</div>
	<br/>
	<div>
	<%= f.submit :submit %>
	</div>
<% end %>