<h1><%= @state.name %></h1>

<strong>Region</strong>: <%= @state.region.name %>

<br/><br/>

<%= link_to 'Edit', edit_state_path(@state) %> |
<%= link_to 'All States', states_path %>

<br/><br/><br/><br/>
<% if @state.parks.length > 0 %>
	<strong>National parks</strong>:
	<ul>
		<%= render partial: 'list_parks', collection: @state.parks %>
	</ul>
<% else %>
	<strong>This state doesn't have any national parks</strong>
<% end %>