<%= link_to image_tag("logos/mountain_arrow.png", size: "60"), planner_path %>

<div>
	<% if current_user() %>
		Logged in as: <%= current_user().username %>
		<%= link_to "Logout", logout_path %>
	<% else %>
		<%= link_to "Login", login_path %>
	<% end %>
</div>
<br/>

<!-- <%= link_to "Parks", parks_path %>&nbsp&nbsp&nbsp -->

<!-- <%= link_to "Activities", activities_path %>&nbsp&nbsp&nbsp -->

<!-- <%= link_to "Ratings", ratings_path %>&nbsp&nbsp&nbsp -->

<!-- <%= link_to 'Plan your park', planner_path %> -->

<!-- <hr /> -->