<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href=<%= planner_path %>><img alt="Mountain" src=<%= asset_path("logos/mountain_arrow.png") %>></a>
      <a class="navbar-brand" style="color: #ffffff" href=<%= planner_path %>>Plan My Parks</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
<!--         <li><a href=<%= survey_where_input_path %>>Find a park<span class="sr-only">(current)</span></a></li> -->
        <% if current_user() %>
	        <li><a href=<%= trips_path %>>Trips</a></li>
	        <% if current_user().admin? %>
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Manage database<span class="caret"></span></a>
		          <ul class="dropdown-menu" role="menu">
		            <li><a href=<%= parks_path %>>Parks</a></li>
		            <li><a href=<%= activities_path %>>Activities</a></li>
		            <li><a href=<%= ratings_path %>>Ratings</a></li>
		            <li><a href=<%= gears_path %>>Gear</a></li>
		            <li class="divider"></li>
		            <li><a href=<%= users_path %>>Users</a></li>
		          </ul>
		        </li>
		    <% end %>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user() %>
        	<p class="navbar-text">Logged in as: <strong><%= current_user().username %></strong></p>
	        <li><a href=<%= user_path(current_user()) %>>My account</a></li>
	        <li><a href=<%= logout_path %>>Logout</a></li>
	  	<% else %>
        <li><a href=<%= new_user_path %>>Create account</a></li>
	  		<li><a href=<%= login_path %>>Log in</a></li>
	  	<% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>