<% if @activity.id %>
	<h1>Update Activity</h1>
<% else %>
	<h1>New Activity</h1>
<% end %>

<%= render partial: 'shared/display_errors', object: @activity %>

<%= form_for(@activity) do |f| %>
	
	<%= f.label :name %>
	<%= f.text_field :name %>

	<%= f.label	:activity_image %>
	<%= f.file_field :activity_image %>

	<%= f.submit :submit %>

<% end %>