<h1><%= @activity.name %></h1>
<%= image_tag @activity.activity_image.url(:thumb) %>

<br/><br/>


<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'All Activities', activities_path %>

<br/><br/><br/><br/>

<strong>Gear</strong>:
<ul>
<%= render partial: 'list_gear', collection: @activity.gears %>
</ul>

<strong>Ratings</strong>:
<ul>
<%= render partial: 'list_activity_ratings', collection: @activity.ratings %>
</ul>