<h1><%= @activity.name %></h1>

<br/><br/>


<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'All Activities', activities_path %>


<br/><br/><br/><br/>
<strong>Ratings</strong>:
<ul>
	<% @activity.ratings.each do |rating| %>
	<li><strong><%= rating.park.name %></strong>:
		<%= rating.score %></li>
	<% end %>
</ul>