<% if @region.id %>
	<h1>Update Region</h1>
<% else %>
	<h1>New Region</h1>
<% end %>

<%= render partial: 'shared/display_errors', object: @region %>

<%= form_for(@region) do |f| %>
	
	<%= f.label :name %>
	<%= f.text_field :name %>

	<%= f.submit :submit %>

<% end %>