<!DOCTYPE html>
<html>
<head>
  <title>National Park Planner</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "highcharts", "chartkick" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'shared/site_nav' %>

<%= yield %>
</body>
</html>
